scraper/.history
scraper/data/

# Byte-compiled / optimized / DLL files
scraper/__pycache__/
scraper/*.py[cod]
scraper/*$py.class

# C extensions
scraper/*.so

# Distribution / packaging
scraper/.Python
scraper/build/
scraper/develop-eggs/
scraper/dist/
scraper/downloads/
scraper/eggs/
scraper/.eggs/
scraper/lib/
scraper/lib64/
scraper/parts/
scraper/sdist/
scraper/var/
scraper/wheels/
scraper/pip-wheel-metadata/
scraper/share/python-wheels/
scraper/*.egg-info/
scraper/.installed.cfg
scraper/*.egg
scraper/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
scraper/*.manifest
scraper/*.spec

# Installer logs
scraper/pip-log.txt
scraper/pip-delete-this-directory.txt

# Unit test / coverage reports
scraper/htmlcov/
scraper/.tox/
scraper/.nox/
scraper/.coverage
scraper/.coverage.*
scraper/.cache
scraper/nosetests.xml
scraper/coverage.xml
scraper/*.cover
scraper/*.py,cover
scraper/.hypothesis/
scraper/.pytest_cache/

# Translations
scraper/*.mo
scraper/*.pot

# Django stuff:
scraper/*.log
scraper/local_settings.py
scraper/db.sqlite3
scraper/db.sqlite3-journal

# Flask stuff:
scraper/instance/
scraper/.webassets-cache

# Scrapy stuff:
scraper/.scrapy

# Sphinx documentation
scraper/docs/_build/

# PyBuilder
scraper/target/

# Jupyter Notebook
scraper/.ipynb_checkpoints

# IPython
scraper/profile_default/
scraper/ipython_config.py

# pyenv
scraper/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
scraper/__pypackages__/

# Celery stuff
scraper/celerybeat-schedule
scraper/celerybeat.pid

# SageMath parsed files
scraper/*.sage.py

# Environments
scraper/.env
scraper/.venv
scraper/env/
scraper/venv/
scraper/ENV/
scraper/env.bak/
scraper/venv.bak/

# Spyder project settings
scraper/.spyderproject
scraper/.spyproject

# Rope project settings
scraper/.ropeproject


# mypy
scraper/.mypy_cache/
scraper/.dmypy.json
scraper/dmypy.json

# Pyre type checker
scraper/.pyre/

scraper/



# Miscellaneous
mobile/*.class
mobile/*.log
mobile/*.pyc
mobile/*.swp
mobile/.DS_Store
mobile/.atom/
mobile/.buildlog/
mobile/.history
mobile/.svn/
mobile/migrate_working_dir/

# IntelliJ related
mobile/*.iml
mobile/*.ipr
mobile/*.iws
mobile/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
mobile/**/doc/api/
mobile/**/ios/Flutter/.last_build_id
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/

# Symbolication related
mobile/app.*.symbols

# Obfuscation related
mobile/app.*.map.json

# Android Studio will place build artifacts here
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release
mobile/linux/flutter/generated_plugin_registrant.cc
mobile/linux/flutter/generated_plugin_registrant.h
mobile/linux/flutter/generated_plugins.cmake
mobile/macos/Flutter/GeneratedPluginRegistrant.swift
mobile/test/widget_test.dart
mobile/windows/flutter/generated_plugin_registrant.cc
mobile/windows/flutter/generated_plugin_registrant.h
mobile/windows/flutter/generated_plugins.cmake
.vscode/settings.json